.container-item-list{
    .welcome{
        font-family: 'Amatic SC', cursive;
        margin: 35px 0 35px 0px;
        text-align: center;
    }
    .list{
        display: flex;
        justify-content: center;
    }
}