.style-nav{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    background-color: #cac5ff;
    color: white;
    
    a{
        text-decoration: none;
        color: black;
    }
    a:focus{
        color: #e2002693;
    }
    
    .title-brand{
        font-size: 27px;
    }
}


