.loading{
    font-size: 2em;
    font-weight: bold;
    margin-top: 30px;
}

.title-detail{
    margin: 35px 0 20px 0px;
    text-align: center;
}

.container-list-detail{
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 7% 3% 7%;
    .img-detail img{
        border-radius: 20px;
        width: 30em;
    }
    .detail{
        text-align: initial;
        p{
            font-size: 18px;
        }
    }
    .quantity-size{
        display: flex;
        justify-self: flex-start;
        margin: 30px 0 30px 0;
        .section-count{
            margin: 0;
        }
    }
}